@{
    ViewBag.Title = "Display";
    var dosyaYolu = @Url.Content("~/App_Data/export-map-share.png");
}
<!DOCTYPE html>
<html>
<body background="~/Content/export-map-share.png" style="background-size:100% 100%; background-attachment:fixed">
    <canvas id="myCanvas" style="background-size:100% 100%; top:0; left:0; margin:0"></canvas>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script>
            var c = document.getElementById("myCanvas");
            c.width = window.innerWidth;
            c.height = window.innerHeight;
            c.style.position = "absolute";
            var ctx = c.getContext("2d");
            var lon = @ViewBag.Lon;
            var lat = @ViewBag.Lat;

            normalizedLon = ((lon + 180) * (c.width / 360));
            normalizedLat = ((lat + 90) * (c.height / 180));

            ctx.beginPath();
            ctx.lineWidth = 2;
            ctx.arc(normalizedLon, normalizedLat, 6, 0, Math.PI * 2);
            ctx.fillStyle = "Red";
            ctx.fill();
            ctx.strokeStyle = "Black";
            ctx.stroke();
            ctx.closePath();

    </script>
</body>
</html>